<form action="/users/signup" method="POST">
  <input type="email" placeholder="Votre email" name="email" />
  <input type="password" placeholder="Votre mot de passe" name="password" />
  <button type="submit">Envoyer</button>
</form>